In [1]:
import pandas as pd
df=pd.read_excel("/Users/macbookpro/Desktop/For Graduation/T7.xlsx")

In [ ]:
list_noise ="الف "

In [ ]:
if  list_noise  in "100 ألف كيلو " :
    print("ok")
else:
    print("no")

In [5]:
import re

In [6]:
def Replacemant(Data,name):
    Li = []
    count=0
    max_len=0
    list_max=-1
    for row in range(0,df.shape[0]):
        edit_string = Data.at[row,'Kilometers']
        if  type(edit_string) == str:
            if edit_string.isdigit()
            count = count + 1
            Li.append(edit_string)
#             if  "km" in edit_string:
#                 Count= Count + 1
#                 numbers = re.findall("[-+]?[.]?[\d]+(?:,\d\d\d)*[\.]?\d*(?:[eE][-+]?\d+)?", edit_string)
#                 print(len(numbers),type(numbers[0]),numbers[0],"this or ",edit_string)
# #                 Data.at[row,'Kilometers']=numbers[0]
#                 # l_len = len(numbers)
#                 # if l_len>max_len:
                #     max_len=l_len
                #     list_max=(edit_string)

    print("The Change was affect (" , count , ") Rows" ,max_len,list_max)
    return Li

Replacemant(df,"")

In [7]:
AAA = Replacemant(df,"R")

The Change was affect ( 135950 ) Rows 0 -1

In [ ]:
type(df.at[20,"Kilometers"])

In [ ]:
list_naser0=['0'," 00 ", ' ٠٠ ', ' 000 ', ' 0000 ', ' 0000))) ', ' 00000 ', ' 000000 ', ' 0000000 ', ' 00000000 ', ' ٠٠٠٠٠٠٠٠ ', ' 000000000 ', ' 0000000000 ', ' 0000000000000000']

In [ ]:
my_list=["0","00"," ٠٠","000","0000","00000","000000","0000000","00000000","٠٠٠٠٠٠٠٠","000000000","0000000000","0000000000000000"]

In [ ]:
'0000000000000000' in my_list

In [ ]:
if   '000'  ==  list_naser0[3]:
    print("ok")
else:
    print(list_naser0[3])
print(type('000' ))

In [34]:
df.to_excel("T6_akram.xlsx")

In [14]:
df.to_excel("T7.xlsx")

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208857 entries, 0 to 208856
Data columns (total 24 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   car_name          208857 non-null  object
 1   year              208857 non-null  int64
 2   price             208857 non-null  int64
 3   color             208857 non-null  object
 4   fuel              208857 non-null  object
 5   history           208857 non-null  object
 6   gear              208857 non-null  object
 7   engine_size       208857 non-null  int64
 8   Kilometers        136371 non-null  object
 9   owners            155114 non-null  object
 10  ad_date           208857 non-null  object
 11  notes             153564 non-null  object
 12  passengers        181635 non-null  object
 13  payment_method    208857 non-null  object
 14  windows           208857 non-null  object
 15  url               208857 non-null  object
 16  alarm             208857 non-null  int64
 17  ac                208857 non-null  int64
 18  radio_cd          208857 non-null  int64
 19  sunroof           208857 non-null  int64
 20  leatherـchair     208857 non-null  int64
 21  centralـLock      208857 non-null  int64
 22  magnesium_wheels  208857 non-null  int64
 23  air_bag           208857 non-null  int64
dtypes: int64(11), object(13)
memory usage: 38.2+ MB

In [ ]:
count0=0
for row in range(0,df.shape[0]):
    value =df.at[row,"Kilometers"]
    if  type(value)==str:
        value =value.strip()
        if  value in my_list :
            year= df.at[row,"year"]
            hand=  df.at[row,"owners"]
            if  value == 0:
                count0=count0+1
                
print(count0)

In [15]:
sd=pd.DataFrame(list(set(df.Kilometers.tolist())))
sd.to_excel("kiloCat.xlsx")

In [8]:
sd=pd.DataFrame(list(set(AAA)))
sd.to_excel("kiloCat1.xlsx")